on:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Pull request build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup node env
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Cache node_modules
        uses: actions/cache@v4.2.4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: make install
      - name: Test project
        run: make test
      - name: Lint project
        run: make lint
      - name: Build project
        run: make build
